<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DemoMiscMapper">
    
    <resultMap type="DemoMisc" id="DemoMiscResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectDemoMiscVo">
        select id, name from demo_misc
    </sql>

    <select id="selectDemoMiscList" parameterType="DemoMisc" resultMap="DemoMiscResult">
        <include refid="selectDemoMiscVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectDemoMiscById" parameterType="Long" resultMap="DemoMiscResult">
        <include refid="selectDemoMiscVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDemoMisc" parameterType="DemoMisc" useGeneratedKeys="true" keyProperty="id">
        insert into demo_misc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
         </trim>
    </insert>

    <update id="updateDemoMisc" parameterType="DemoMisc">
        update demo_misc
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDemoMiscById" parameterType="Long">
        delete from demo_misc where id = #{id}
    </delete>

    <delete id="deleteDemoMiscByIds" parameterType="String">
        delete from demo_misc where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>