<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ctag.mapper.CtagSysMatchDetailMapper">

    <resultMap type="CtagSysMatchDetail" id="CtagSysMatchDetailResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="localSysId"    column="local_sys_id"    />
        <result property="localSysItemId"    column="local_sys_item_id"    />
        <result property="pmSysItemId"    column="pm_sys_item_id"    />
        <result property="ctagValue"    column="ctag_value"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCtagSysMatchDetailVo">
        select id, project_id, local_sys_id, local_sys_item_id, pm_sys_item_id, ctag_value, remark from ctag_sys_match_detail
    </sql>

    <select id="selectCtagSysMatchDetailList" parameterType="CtagSysMatchDetail" resultMap="CtagSysMatchDetailResult">
        <include refid="selectCtagSysMatchDetailVo"/>
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="localSysId != null "> and local_sys_id = #{localSysId}</if>
            <if test="localSysItemId != null "> and local_sys_item_id = #{localSysItemId}</if>
            <if test="pmSysItemId != null "> and pm_sys_item_id = #{pmSysItemId}</if>
            <if test="ctagValue != null  and ctagValue != ''"> and ctag_value = #{ctagValue}</if>
        </where>
    </select>

    <select id="selectCtagSysMatchDetailById" parameterType="Long" resultMap="CtagSysMatchDetailResult">
        <include refid="selectCtagSysMatchDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtagSysMatchDetail" parameterType="CtagSysMatchDetail" useGeneratedKeys="true" keyProperty="id">
        insert into ctag_sys_match_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="localSysId != null">local_sys_id,</if>
            <if test="localSysItemId != null">local_sys_item_id,</if>
            <if test="pmSysItemId != null">pm_sys_item_id,</if>
            <if test="ctagValue != null">ctag_value,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="localSysId != null">#{localSysId},</if>
            <if test="localSysItemId != null">#{localSysItemId},</if>
            <if test="pmSysItemId != null">#{pmSysItemId},</if>
            <if test="ctagValue != null">#{ctagValue},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCtagSysMatchDetail" parameterType="CtagSysMatchDetail">
        update ctag_sys_match_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="localSysId != null">local_sys_id = #{localSysId},</if>
            <if test="localSysItemId != null">local_sys_item_id = #{localSysItemId},</if>
            <if test="pmSysItemId != null">pm_sys_item_id = #{pmSysItemId},</if>
            <if test="ctagValue != null">ctag_value = #{ctagValue},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtagSysMatchDetailById" parameterType="Long">
        delete from ctag_sys_match_detail where id = #{id}
    </delete>

    <delete id="deleteCtagSysMatchDetailByIds" parameterType="String">
        delete from ctag_sys_match_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
