<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ctag.mapper.CtagSysMatchMapper">

    <resultMap type="CtagSysMatch" id="CtagSysMatchResult">
        <result property="id"    column="id"    />
        <result property="localSysId"    column="local_sys_id"    />
        <result property="pmSysId"    column="pm_sys_id"    />
        <result property="isUpdated"    column="is_updated"    />
        <result property="gmtStandardUpdated"    column="gmt_standard_updated"    />
        <result property="gmtMatchModified"    column="gmt_match_modified"    />
    </resultMap>

    <sql id="selectCtagSysMatchVo">
        select id, local_sys_id, pm_sys_id, is_updated, gmt_standard_updated, gmt_match_modified from ctag_sys_match
    </sql>

    <select id="selectCtagSysMatchList" parameterType="CtagSysMatch" resultMap="CtagSysMatchResult">
        <include refid="selectCtagSysMatchVo"/>
        <where>
            <if test="localSysId != null "> and local_sys_id = #{localSysId}</if>
            <if test="pmSysId != null "> and pm_sys_id = #{pmSysId}</if>
            <if test="isUpdated != null "> and is_updated = #{isUpdated}</if>
            <if test="gmtStandardUpdated != null "> and gmt_standard_updated = #{gmtStandardUpdated}</if>
            <if test="gmtMatchModified != null "> and gmt_match_modified = #{gmtMatchModified}</if>
        </where>
    </select>

    <select id="selectCtagSysMatchById" parameterType="Long" resultMap="CtagSysMatchResult">
        <include refid="selectCtagSysMatchVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtagSysMatch" parameterType="CtagSysMatch" useGeneratedKeys="true" keyProperty="id">
        insert into ctag_sys_match
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="localSysId != null">local_sys_id,</if>
            <if test="pmSysId != null">pm_sys_id,</if>
            <if test="isUpdated != null">is_updated,</if>
            <if test="gmtStandardUpdated != null">gmt_standard_updated,</if>
            <if test="gmtMatchModified != null">gmt_match_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="localSysId != null">#{localSysId},</if>
            <if test="pmSysId != null">#{pmSysId},</if>
            <if test="isUpdated != null">#{isUpdated},</if>
            <if test="gmtStandardUpdated != null">#{gmtStandardUpdated},</if>
            <if test="gmtMatchModified != null">#{gmtMatchModified},</if>
         </trim>
    </insert>

    <update id="updateCtagSysMatch" parameterType="CtagSysMatch">
        update ctag_sys_match
        <trim prefix="SET" suffixOverrides=",">
            <if test="localSysId != null">local_sys_id = #{localSysId},</if>
            <if test="pmSysId != null">pm_sys_id = #{pmSysId},</if>
            <if test="isUpdated != null">is_updated = #{isUpdated},</if>
            <if test="gmtStandardUpdated != null">gmt_standard_updated = #{gmtStandardUpdated},</if>
            <if test="gmtMatchModified != null">gmt_match_modified = #{gmtMatchModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtagSysMatchById" parameterType="Long">
        delete from ctag_sys_match where id = #{id}
    </delete>

    <delete id="deleteCtagSysMatchByIds" parameterType="String">
        delete from ctag_sys_match where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
