<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ctag.mapper.CtagSysItemMapper">

    <resultMap type="CtagSysItem" id="CtagSysItemResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="pid"    column="pid"    />
        <result property="level"    column="level"    />
        <result property="itemType"    column="item_type"    />
        <result property="itemRemark"    column="item_remark"    />
        <result property="itemStrLengthLimit"    column="item_str_length_limit"    />
        <result property="itemNumAllowDecimal"    column="item_num_allow_decimal"    />
        <result property="itemEnumAllowMulti"    column="item_enum_allow_multi"    />
        <result property="sysId"    column="sys_id"    />
    </resultMap>

    <sql id="selectCtagSysItemVo">
        select id, name, pid, level, item_type, item_remark, item_str_length_limit, item_num_allow_decimal, item_enum_allow_multi, sys_id from ctag_sys_item
    </sql>

    <select id="selectCtagSysItemList" parameterType="CtagSysItem" resultMap="CtagSysItemResult">
        <include refid="selectCtagSysItemVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="itemType != null "> and item_type = #{itemType}</if>
            <if test="itemRemark != null  and itemRemark != ''"> and item_remark = #{itemRemark}</if>
            <if test="itemStrLengthLimit != null "> and item_str_length_limit = #{itemStrLengthLimit}</if>
            <if test="itemNumAllowDecimal != null "> and item_num_allow_decimal = #{itemNumAllowDecimal}</if>
            <if test="itemEnumAllowMulti != null "> and item_enum_allow_multi = #{itemEnumAllowMulti}</if>
            <if test="sysId != null "> and sys_id = #{sysId}</if>
        </where>
    </select>

    <select id="selectCtagSysItemById" parameterType="Long" resultMap="CtagSysItemResult">
        <include refid="selectCtagSysItemVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtagSysItem" parameterType="CtagSysItem" useGeneratedKeys="true" keyProperty="id">
        insert into ctag_sys_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="pid != null">pid,</if>
            <if test="level != null">level,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemRemark != null">item_remark,</if>
            <if test="itemStrLengthLimit != null">item_str_length_limit,</if>
            <if test="itemNumAllowDecimal != null">item_num_allow_decimal,</if>
            <if test="itemEnumAllowMulti != null">item_enum_allow_multi,</if>
            <if test="sysId != null">sys_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="pid != null">#{pid},</if>
            <if test="level != null">#{level},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemRemark != null">#{itemRemark},</if>
            <if test="itemStrLengthLimit != null">#{itemStrLengthLimit},</if>
            <if test="itemNumAllowDecimal != null">#{itemNumAllowDecimal},</if>
            <if test="itemEnumAllowMulti != null">#{itemEnumAllowMulti},</if>
            <if test="sysId != null">#{sysId},</if>
         </trim>
    </insert>

    <update id="updateCtagSysItem" parameterType="CtagSysItem">
        update ctag_sys_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="level != null">level = #{level},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemRemark != null">item_remark = #{itemRemark},</if>
            <if test="itemStrLengthLimit != null">item_str_length_limit = #{itemStrLengthLimit},</if>
            <if test="itemNumAllowDecimal != null">item_num_allow_decimal = #{itemNumAllowDecimal},</if>
            <if test="itemEnumAllowMulti != null">item_enum_allow_multi = #{itemEnumAllowMulti},</if>
            <if test="sysId != null">sys_id = #{sysId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtagSysItemById" parameterType="Long">
        delete from ctag_sys_item where id = #{id}
    </delete>

    <delete id="deleteCtagSysItemByIds" parameterType="String">
        delete from ctag_sys_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
